header{
    background-image: url(header.jpeg);
    background-attachment: fixed; 
    width:100%;
    height: 75vh;
}



.background-image{
   
    background-position: center;
    background-repeat: no-repeat;
     background-size: cover;
}
.vertical-align{    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.text-center
{
    text-align: center;
    color: white;
}
.container{
    display: flex;
    flex-direction: column;
    background-color: black;
}
.section-container{
    display: flex;
    flex-direction: row;
}
.image{
    flex:1;
    background-origin: initial;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.para{
    flex:1;
}
.bold{
    font-weight: 100;
}
#menu{
	width: 35px;
	height: 30px;
	margin: 30px 0 20px 20px;
	cursor: pointer;
}
.bar{
	height: 5px;
	width: 100%;
	background-color:white;
	display: block;
	border-radius: 5px;
	transition: 0.3s ease;
}
#bar1{
	transform: translateY(-4px);
}
#bar3{
	transform: translateY(4px);
}
.nav li a{
	color: #fff;
	text-decoration: none;
}
.nav li a:hover{
	font-weight: bold;
}
.nav li{
	list-style: none;
	padding: 16px 0;
}
.nav{
	padding: 0;
	margin: 0 20px;
	transition: 0.3s ease;
	display: none;
}
.menu-bg, #menu-bar{
	top: 0;
	left: 0;
	position: absolute;
}
.menu-bg{
	z-index: 1;
	width: 0;
	height: 0;
	margin: 30px 0 20px 20px;
	background: radial-gradient(circle,black,black);
	border-radius: 50%;
	transition: 0.3s ease;
}
#menu-bar{
	z-index: 2;	
}
.change-bg{
	width: 550px;
	height: 540px;
	transform: translate(-60%,-30%);
}
.change .bar{
	background-color: white;
}
.change #bar1{
	transform: translateY(4px) rotateZ(-45deg);
}
.change #bar3{
	transform: translateY(-6px) rotate(45deg);
}
.change #bar2{
	opacity: 0;
}
.change{
	display: block;
}

@media only screen and (max-width: 767px){

	.container {
		display: flex;
		flex-direction: column;
	}
	.section-container{
		display: flex;
		flex-direction: column;
		/* height: 400px; */
	}
    .image {
		display: block;
		flex: 1;
		order: 1;
	}
	.para{
		flex: 1;
		order: 2;
	}
}   

@media only screen and (min-height: 768px) {
	.section-container { 
		min-height: 400px;

	}
}